<div>
  <h1 class="page-title">Translations</h1>

  <div>
    <button class="button-rounded button-rounded--primary button-rounded--with-margins"
            (click)="openModal()">
      Add translation
    </button>
  </div>

  <div class="search">
    <app-form-input label="search"
                    placeholder="Enter key, English or Georgian translation..."
                    (input)="onSearch($event)"></app-form-input>
  </div>

  <cdk-virtual-scroll-viewport class="list" itemSize="34">
    <div class="list__item">
      <app-translation-row [saveButtonLabel]="'Add new'"
                           [header]="true"></app-translation-row>
    </div>
    <div *cdkVirtualFor="let key of keysToDisplay" class="list__item">
      <app-translation-row [key]="key"
                           [en]="translations.en[key]"
                           [ge]="translations.ge[key]"></app-translation-row>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<app-add-translation-modal (add)="addNew($event)"></app-add-translation-modal>
