@import "../../banners.component";

.input {
  margin-bottom: 12px;
}

.title {
  margin: 24px 0 12px 0;
  font-size: 24px;
}

.description {
  min-width: 100%;
  max-width: 100%;
  min-height: 160px;
  border: solid 1px color(input-border);
  border-radius: $border-radius;
  padding: 12px;
  box-sizing: border-box;
  font-size: 16px;

  &::placeholder {
    font-size: 14px;
    color: color(text-placeholder);
  }
}
