<div>
  <h1 class="page-title">Categories</h1>

  <div class="flex--align-center">
    <button class="button-rounded button-rounded--primary button-rounded--with-margins"
            (click)="openModal(false)">
      Add category
    </button>
    <button class="button-rounded button-rounded--primary button-rounded--with-margins"
            (click)="openModal(true)">
      Add group
    </button>
  </div>

  <div class="search">
    <app-form-input label="search"
                    placeholder="Enter category name, key or id"
                    (input)="search($event.target['value'])"></app-form-input>
  </div>

  <cdk-virtual-scroll-viewport class="list" itemSize="34">
    <div class="list__item">
      <app-category-row [header]="true"></app-category-row>
    </div>
    <div *cdkVirtualFor="let category of filtered" class="list__item" [ngClass]="{'list__item--highlighted': isGroup(category)}">
      <app-category-row [category]="category"></app-category-row>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<app-add-category-modal #addCategoryModal
                        [groupOptions]="groupOptions"
                        (add)="addCategory($event)"></app-add-category-modal>
