@import "../styles";

.side-menu {
  width: $side-menu-width;
  height: 100vh;
}

.main-content {
  padding: 44px 88px;
  box-sizing: border-box;
}

.notifications {
  width: $side-menu-width;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: $z-index-notifications;
}
