<div *ngIf="!isHeader" class="row">
  <div class="col-sm-2">
    <input class="listing__input" disabled type="text" [value]="banner._id"/>
  </div>
  <div class="col-sm-2">
    <input class="listing__input" disabled type="text" [value]="banner.titleEn"/>
  </div>
  <div class="col-sm-2">
    <input class="listing__input" disabled type="text" [value]="banner.shortDescriptionEn"/>
  </div>
  <div class="col-sm-2">
    <input class="listing__input" disabled type="text" [value]="banner.categories.length + ' categories'"/>
  </div>
  <div class="col-sm-1">
    <input class="listing__input" disabled type="text" [value]="banner.images.length + ' images'"/>
  </div>
  <div class="col-sm-1 flex--center">
    <input type="checkbox" [checked]="isPromoted" (change)="onToggle()">
  </div>

  <div class="col-sm-2">
    <div class="flex--align-center">
      <button class="listing__button listing__button--save flex--center flex--fill cursor--pointer"
              [routerLink]="['/banners/edit', banner._id]">
        Edit
      </button>
      <button class="listing__button listing__button--delete flex--center flex--fill cursor--pointer"
              [disabled]="deleting"
              (click)="onDelete()">
        {{deleting ? 'Wait...' : 'Delete'}}
      </button>
    </div>
  </div>
</div>

<div *ngIf="isHeader" class="row header">
  <div class="col-sm-2">
    <input class="listing__input" disabled type="text" [value]="'Banner id'"/>
  </div>
  <div class="col-sm-2">
    <input class="listing__input" disabled type="text" [value]="'Title'"/>
  </div>
  <div class="col-sm-2">
    <input class="listing__input" disabled type="text" [value]="'Short description'"/>
  </div>
  <div class="col-sm-2">
    <input class="listing__input" disabled type="text" [value]="'Categories'"/>
  </div>
  <div class="col-sm-1">
    <input class="listing__input" disabled type="text" [value]="'Images'"/>
  </div>
  <div class="col-sm-1">
    <input class="listing__input" disabled type="text" [value]="'Promoted'"/>
  </div>
</div>
