@import "functions";
@import "colors";
@import "dimentions";

.page-padding {
  padding: 0 160px;
}

.flex {
  display: flex;

  &--fill {
    flex: 1;
  }

  &--dir-col {
    display: flex;
    flex-direction: column;
  }

  &--center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--align-center {
    display: flex;
    align-items: center;
  }

  &--justify-center {
    display: flex;
    justify-content: center;
  }

  &--space-between {
    display: flex;
    justify-content: space-between;
  }
}

.full-width {
  width: 100%;
}

.cursor {

  &--pointer {
    cursor: pointer;
  }
}

.elevated {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px 0;
}

.widget {
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 8px 0;
  padding: 22px;
  border-radius: $border-radius;
  box-sizing: border-box;
}

.page-title {
  color: color(text-main);
  padding-bottom: 44px;
}

.search {
  width: 100%;
  border-radius: $border-radius;
  border: solid 1px color(grey-shade);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  height: height(input);
  margin-bottom: 22px;
}

.button-rounded {
  height: 46px;
  padding: 0 16px;
  border-radius: $border-radius-medium;
  font-size: 14px;
  background-color: color(grey-shade);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &--primary {
    background-color: color(brand-main);
    color: white;
  }

  &--with-margins {
    margin: 0 16px 16px 0;
  }

  &--form {
    height: height(medium-input);
    font-size: 16px;
  }

  &--greyscale {
    filter: grayscale(1);
  }
}
